

#id02{

padding-top:60px;

}
.ui-jqgrid { border-right-width: 0px!important; border-left-width: 0px!important; }
.ui-jqgrid { border-width: 0px!important; }
.ui-jqgrid tr.ui-row-ltr td { border-right-color: transparent; }
.ui-jqgrid tr.ui-row-ltr td { border-bottom-color: transparent; }
th.ui-th-column { border-right-color: transparent !important }


#id03{

padding-top:80px;

}
#fdoc{

	text-align:center;
	color:dodgerblue;
	font-weight:bold;
	padding-top:70px;
	font-family:Arial;
}

#t1{
	padding-right:10px;
	font-weight:bold;
}
#t2{
	padding-right:10px;
	padding-left:20px;
	font-weight:bold;
}

#t4{
	margin-right:10px;
	margin-left:20px;
	font-weight:bold;
}
#t3{
	margin-right:10px;
	margin-left:20px;
	font-weight:bold;
}


#img{
	
height:"300";
width:"300";	
}
#map{
	width: 90%; 
	height: 500px;
	margin-left:70px;
}
